a {
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: blue;
}
body {
  overflow: auto;
  overflow-y: auto;
  margin: 0px;
}
#jeeFaceFilterCanvas {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
h1 {
  color: black;
}
#recorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
