a {
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: blue;
}
body {
  overflow: auto;
  overflow-y: auto;
  background-color: white;
  background-image: url("bg.png");
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  margin: 0px;
}
#jeeFaceFilterCanvas {
  z-index: 10;
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  left: 50%;
  top: 50%;
  width: 100vmin;
  transform: translate(-50%, -50%);
}
h1 {
  color: black;
}
#recorder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

@media (max-width: 787px) {
  #jeeFaceFilterCanvas {
    right: 0px;
    top: 60px;
    transform: rotateY(180deg);
  }
}
